<h2>Minhas vagas</h2>

<table class="table">
  <thead class="table-dark">
    <th>Título</th>
    <th>Carreira</th>
    <th>Local</th>
    <th>Tipo de contrato</th>
    <th>Candidaturas</th>
    <th>Ações</th>
  </thead>

  <tbody>
     <% @positions.each do |position| %>
     <tr>
       <td><%= position.name %></td>
       <td><%= career_name(position.career) %></td>
       <td><%= modality(position) %></td>
       <td><%= contract_name(position.contract) %></td>
       <td> <%= link_to "Ver candidaturas #{position.applicants.count}", position_applicants_path(position), class: 'btn btn-warning btn-sm' %></td>
       <td><%= link_to 'Editar', edit_position_path(position), class: 'btn btn-primary' %></td>
       
     </tr>
     <% end %>
  </tbody>
</table>
