<h1>Fórmulario para aplicar vaga</h1>
<%= simple_form_for @applicant do |f| %>
  <%= f.hidden_field :position_id %>
  <%= f.input :name %>
  <%= f.input :email, input_html: { value: current_user.email } %>
  <%= f.input :phone %>
  <%= f.submit 'Aplicar vaga', class: 'btn btn-primary' %>
<% end %>
