<h2>Minhas vagas 
  <% if @applicants.size > 0 %>
    <%= link_to 'Exportar CVS', position_applicants_path(@position, format: 'csv'), class: 'btn btn-primary' %>
    <%= link_to 'Exportar Currículos', position_applicants_path(@position, format: 'zip'), class: 'btn btn-primary' %>
  <% end %>
</h2>
<table class="table">
  <thead class="table-dark">
    <th>Nome</th>
    <th>E-mail</th>
    <th>Telefone</th>
    <th>Currículo</th>
    <th>Ações</th>
  </thead>

  <tbody>
     <% @applicants.each do |applicant| %>
     <tr>
        <td><%= applicant.name %></td>
        <td><%= applicant.email %></td>
        <td><%= applicant.phone %></td>
        <td><%= link_to 'Download', rails_blob_path(applicant.resume, disposition: "attachment"), class: 'btn btn-warning' %></td>
        <td></td>
     </tr>
     <% end %>
  </tbody>
</table>
