<nav class="navbar navbar-dark bg-dark" aria-label="First navbar example">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Open Vagas</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample01" aria-controls="navbarsExample01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample01">
      <ul class="navbar-nav me-auto mb-2">
        <li class="nav-item">
          <%= link_to 'Home', root_path, class: 'nav-link active' %>
        </li>
        <% unless user_signed_in? %>
          <li class="nav-item">
            <%= link_to 'Login/Cadastro', user_session_path, class: 'nav-link' %>
          </li>
        </ul>
        <% end %>
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to 'Minha Empresa', dynamic_url_company, class: 'nav-link' %>
          </li>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Settings</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><%= link_to 'Sair', destroy_user_session_path, class: 'dropdown-item', method: :delete %></li>
            </ul>
            <li class="nav-item">
              <%= link_to 'Publicar Vagas', new_position_path, class: 'nav-link public-position' %>
            </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
