<!DOCTYPE html>
<html>
  <head>
    <title>OpenVagas</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
   
  </head>

  <body class="bg-body-tertiary">
    <%= render 'layouts/navbar' %>
    <main class="container">
      <%= yield %>
    </main>  

    <footer>
      <p>Sistema desenvolvido por Adoniran France</p>
      <p><%= "Desde #{Time.new.year}" %></p>
    </footer>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
