<!DOCTYPE html>
<html>
  <head>
    <title>OpenVagas</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body class="bg-body-tertiary">
    <%= params %>
    <%= render 'layouts/navbar' %>
    <main class="container">
      <%= render 'shared/flash_message' %>
      <%= yield %>
    </main>  

    <footer>
      <p>Sistema desenvolvido por Adoniran France</p>
      <p><%= "Desde #{Time.new.year}" %></p>
    </footer>

    <!-- Modal -->
    <div class="modal fade" id="modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
        </div>
      </div>
    </div>
  </body>
</html>
